#hero-img{
    width: 100vw !important;
    height: 100vh !important;
    z-index: -1;
    position: absolute;
    top: 0;
}
#hero-box{
    width: 100vw !important;
    height: 100vh !important;
    position: relative;
}
#nav{
    top: 0;
    width: 100%;
    z-index: 1;
}
#heroButton{
    border: 1px solid rgb(204, 196, 196) !important;
    background-color: rgba(204, 196, 196,0.5) !important;
    color: rgb(44, 40, 40) !important;
}