.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bi-instagram{

}
@media only screen and (max-width: 400px){
  .social-media{
      display: none;
  }
}
.bplQwv {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--light-slate);
}
.bplQwv:hover {
  color: var(--light-slate);
}
.jruSna svg {
  transition: 0.5s;
  width: 20px;
  height: 20px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
.jruSna li {
  display: inline;
  height:400px;
  width:400px;
}

.jruSna li a svg:hover {
 transform: translateY(-5px);
 z-index: 2;
 -webkit-transform: translateY(-5px);
 -moz-transform: translateY(-5px);
 -ms-transform: translateY(-5px);
 -o-transform: translateY(-5px);
}
.jruSna ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.jruSna:after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  margin-left: 10px;
  background-color: gray;
}
.featured{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
video{
  max-width: 90vw;
}
#whatWeDo>p{
  text-align: center;
}
#social-media{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  align-items: center !important;
  margin-top: 50px;
}
svg{
  width: 40px;
  height: 40px;
}
svg:hover{
  transform: scale(1.1);
}
#Owner{
  left: 0 !important;
  right: 0 !important;
  margin-left: auto !important; 
  margin-right: auto !important; 
  width: 200px;
}
#Owner>p{
  text-align: center;

}
#Owner>p>span{
  color: rgba(32, 32, 168, 0.918);
  text-decoration: underline;
}
#Owner>p>span:hover{
  cursor: pointer;
}

@media screen and (max-width: 600px){
  .content{
    font-size: 14px !important;
  }
}
/* start of scrollbar styles */
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-thumb{
  background: #2d3f47;
  border-radius: 100vw;
  -webkit-border-radius: 100vw;
  -moz-border-radius: 100vw;
  -ms-border-radius: 100vw;
  -o-border-radius: 100vw;
}

/* end of scrollbar styles */