body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face{
  font-family: "Memphis-LT-Std-Light";
  src: local("Memphis-LT-Std-Light"),
  url("./assets/Memphis-LT-Std-Light.otf") format("opentype");
}
.font-memphis{
  font-family: "Memphis-LT-Std-Light" !important;
  font-size: 30px !important;
}